.table-info {
  width: 100%;
  border-collapse: collapse;
  tr {
    &:nth-child(2n + 2) {
      background: rgba(249, 249, 249, 0.83);
    }
  }
  td {
    padding: 10px 26px 10px 21px;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    vertical-align: baseline;
    @include xs-block {
      font-size: 12px;
      padding: 10px 11px 10px 11px;
      width: 50%;
    }
    &:first-child {
      width: 350px;
      @include xs-block {
        width: auto;
      }
    }
  }
}